<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Choose Products To Support</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Support Switchamajig Controller</string>
			<key>Key</key>
			<string>supportSwitchamajigControllerPreference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Support Switchamajig IR</string>
			<key>Key</key>
			<string>supportSwitchamajigIRPreference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Accessing The Panels</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Single-Tap Back Button</string>
			<key>Key</key>
			<string>singleTapBackButtonPreference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Text Size</string>
			<key>Key</key>
			<string>textSizeIdentifier</string>
		</dict>
		<dict>
			<key>MinimumValue</key>
			<integer>20</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Key</key>
			<string>textSizePreference</string>
			<key>MaximumValue</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Navigation Button Size</string>
			<key>Key</key>
			<string>ButtonSizeId</string>
		</dict>
		<dict>
			<key>MinimumValue</key>
			<integer>44</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>DefaultValue</key>
			<integer>44</integer>
			<key>Key</key>
			<string>switchPanelSizePreference</string>
			<key>MaximumValue</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Help Button</string>
			<key>Key</key>
			<string>showHelpButtonPreference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Network Config Button</string>
			<key>Key</key>
			<string>showNetworkConfigButtonPreference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Quick Start Wizard Button</string>
			<key>Key</key>
			<string>showQuickStartWizardButtonPreference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Editing Of Switch Panels</string>
			<key>Key</key>
			<string>allowEditingOfSwitchPanelsPreference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Network Settings</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use UDP with Switchamajig Controller</string>
			<key>Key</key>
			<string>useUDPWithSwitchamajigControllerPreference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Scanning</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Scanning Style</string>
			<key>Key</key>
			<string>scanningStylePreference</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Auto Scan</string>
				<string>Step Scan</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
