<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Accessing The Panels</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Text Size</string>
			<key>Key</key>
			<string>textSizeIdentifier</string>
		</dict>
		<dict>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>DefaultValue</key>
			<integer>12</integer>
			<key>Key</key>
			<string>textSizePreference</string>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Size of Button to Select Switch Panel</string>
			<key>Key</key>
			<string>ButtonSizeId</string>
		</dict>
		<dict>
			<key>MinimumValue</key>
			<integer>50</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>Key</key>
			<string>switchPanelSizePreference</string>
			<key>MaximumValue</key>
			<integer>500</integer>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
